@model List<EHealthCare.App_Start.User>

@{
    ViewBag.Title = "Doctor Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Doctors List</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Hospital</a></li>
                <li class="active">Doctors Of Hospital</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="white-box">
                <div class="row">
                    @foreach (var item in Model)
                     {
                        <div class="col-md-3">
                            <div class="card">
                                <center><img class="image-responsive" src="~/Areas/Admin/Content/plugins/images/users/1.jpg" style="padding-top:20px;" height="200" width="200" alt="Card image cap"></center>
                                <div class="card-block">
                                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h4>
                                    <p class="card-text">
                                        @string.Join(", ", item.DoctorSpecializations.Select(e => e.Specialization).ToList().Select(e => e.Name))
                                    </p>
                                    @Html.ActionLink("Details", "DoctorDetails", "Doctor", new { id = item.Id }, new { @title = "Details", @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                     }
                </div>
            </div>
            <p>
                @Html.ActionLink("Back to List", "Index", "Hospital")
            </p>
        </div>
    </div>
</div>
